<div class="container">
    <h1 class="text-center">Termes d'utilisation</h1>

<section>
    <h2 class="mb-1 pb-0 mt-2"><mat-icon>location_on</mat-icon>Géolocalisation </h2>
    <p>La géolocalisation est nécessaire au bon fonctionnement de l'application.</p>
</section>

<section>
    <h2 class="mb-1 pb-0 mt-4"><mat-icon>camera_alt</mat-icon> Caméra </h2>
    <p>Sans l'accès à la caméra, vous n'aurez pas accès au monde de la réalité virtuelle et ça me semble dommage !</p>
</section>

<section>
    <h2 class="mb-1 pb-0 mt-4">Données publiques</h2>
    <p>Toute donnée encodée dans le profile est considérée comme publique car elle met automatiquement à jour les informations sur les cartes de visites afin de ne pas devoir repasser 
        au même endroit les mettre à jour manuellement. 
    </p>
    <div>
        Cependant, un objet posé peut avoir plusieurs modes de visibilité: 
        <ul class="m-0 p-0">
            <ol>
                1. <b>Privé</b>, par défaut. Uniquement vous voyez l'objet dans le monde AR et sur la carte.
            </ol>
            <ol>
                2. <b>Groupe</b>, permet de choisir un ensemble de personnes restreintes avec lesquelles vous acceptez de partager votre placement. 
            </ol>
            <ol>
                3. <b>Publique</b>, permet de partager avec le monde votre placement mais aussi de référencer un groupe afin de le mettre en avant. 
            </ol>
        </ul>
    </div>
</section>

<figure class="text-center mt-4">
    <blockquote class="blockquote">
      <p>Have fun and don't destroy prod</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Samuel Hendrick <cite title="Source Title">Junior Dev</cite>
    </figcaption>
</figure>

<a href="/" mat-flat-button class="btn-primary mt-3"> Back to the fun part</a>
</div>