<h1 mat-dialog-title>Groupes</h1>
<div mat-dialog-content>
    <a href="/createCommunity" mat-stroked-button color="primary" class="w-100 mb-2">
        Créer un groupe
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>

    <!-- 
    <button mat-stroked-button color="primary" class="w-100">
        Join a group
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Retour</button>
</div>





