<h1 class="text-center">About the application!</h1>

<h2 class="mb-1">Title 1</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo in ullam blanditiis harum, incidunt nam laborum provident iure qui debitis ipsum soluta nulla exercitationem illum optio aut sunt! Ratione, blanditiis.    </p>

<h2 class="mb-1 mt-3">Title 2</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis nesciunt, animi laudantium eius vero expedita accusantium tenetur quos porro sunt? Dicta, amet placeat magnam doloribus consequatur quibusdam voluptate? Nulla!</p>

<h2 class="mb-1 mt-3">Title 3</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos eum vero commodi explicabo recusandae, eligendi ullam? Harum!</p>

<button mat-raised-button color="primary" class="d-block mx-auto" (click)='onClick()'>Got it !</button>